*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman';
}

header{
    background-image: url(ilya-pavlov-OqtafYT5kTw-unsplash.jpg);
    height: 50vmax;
    background-size: cover;
    background-position: center;
}

ul{
    float: right;
    list-style-type: none;
}

ul li{
    display: inline-block;
}

ul li a{
    text-decoration: blue
}